.success-screen {
    display: none !important;
    background-color: #020A6E;
    background-image: url("../background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin: 0;
}

.success-screen.show {
    display: inline-block !important;
}

.success-card {
    padding: 10px;
}

.success-card img {
    max-width: 250px;
    height: auto;
    margin-block: 15px;
}