header {
    background-color: white;
    padding: 10px 25px;
}

header>nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

header>nav>img {
    height: 100px;
    width: auto;
    margin-right: auto;
    user-select: none;
    cursor: pointer;
}

header>nav>a {
    position: relative;
    color: darkred;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;

    &:active {
        opacity: 0.8;
    }
}

.auth-card > h2 > a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: black;
  transition: width 0.3s ease;
}

header>nav>a:hover::before {
    width: 100%;
}

header>nav>a:last-child {
    font-weight: bold;
}


@media only screen and (max-width: 565px) {
    header>nav>a {
        font-size: 0.6em;
        text-align: center;
    } 
    header>nav>img{
        height: 30px;
    }
    header>nav{
        gap: 10px;
    }
}