header {
    position: absolute;
    width: 100%;
    background-color: white;
    padding: 10px 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 1;
    transition: 0.3s;
}

header.scrolled {
    background-color: rgba(240, 240, 240, 0.6);
    padding: 7.5px 25px;
}

header > nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

header > nav > .logo-link {
    height: 100px;
    width: auto;
    margin-right: auto;
    user-select: none;
    cursor: pointer;
}

header > nav > .logo-link > img {
    height: 100%;
    width: auto;
    user-select: none;
    cursor: pointer;
}

header .search-wrapper {
    position: relative;
}

header .search-wrapper input {
    padding: 7.5px;
    font-size: 1.2rem;
    border: 1px solid grey;
    outline: none;
    border-radius: 5px;
}

header .search-wrapper input:focus {
    border: 1px solid rgb(32, 169, 255);
}

/* Hide the search bar 'x' icon */
header .search-wrapper input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

header .search-wrapper div.search-box-border {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    pointer-events: none;
    outline: 5px solid transparent;
    transition: outline 0.3s ease-out;
}

/* The '/' icon */
header .search-wrapper div.search-box-border::after {
    content: "/";
    display: var(--after-display);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 5px;
    font-size: 1.2rem;
    color: grey;
    background-color: rgba(211, 211, 211, 0.6);
    padding: 4px 9px;
    border-radius: 5px;
}

header > nav > a:not(.logo-link) {
    position: relative;
    color: darkred;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}

header > nav > a:not(.logo-link):active {
    opacity: 0.8;
}

header > nav > a:not(.logo-link)::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: darkred;
    transition: width 0.3s ease;
}

header > nav > a:not(.logo-link):hover::before {
    width: 100%;
}

header > nav .auth-button {
    font-weight: bold;
}

header > nav .user-dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
}

header > nav button {
    position: relative;
    background-color: darkred;
    border: none;
    border-radius: 5px;
    padding: 7.5px 10px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s;
}

/* The ripple effect */
header > nav button > div {
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 0;
    height: 0;
    /* the ripple spread out like a circle */
    border-radius: 50%;
    pointer-events: none;
    animation: ripple 0.4s ease-out infinite;
}

header > nav button:hover {
    opacity: 0.8;
}

header > nav .user-dropdown .user {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: darkred;
    transition: 0.3s;
    user-select: none;
    cursor: pointer;
}

header > nav .user-dropdown .user:hover {
    text-decoration: underline;
}

header > nav .user-dropdown .user:active {
    opacity: 0.6;
}

header > nav .user-dropdown ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 0;
    transform-origin: top right;
    transform: translateY(calc(100%)) scale(0);
    width: max-content;
    list-style: none;
    background-color: rgb(255, 254, 253);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    z-index: 10;
}

header > nav .user-dropdown ul.active {
    transform: translateY(calc(100%)) scale(1);
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

header > nav .user-dropdown ul li {
    position: relative;
}

header > nav .user-dropdown li:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    background-color: rgb(211, 211, 211);
}

header > nav .user-dropdown ul li svg {
    color: black;
}

header > nav .user-dropdown ul a {
    font-size: 1.1rem;
    color: black;
    text-decoration: none;
}

header > nav .user-dropdown li:hover {
    background-color: rgba(211, 211, 211, 0.8);
}

header > nav .user-dropdown li:active {
    background-color: rgba(211, 211, 211, 0.6);
}

header > nav .user-dropdown li a {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding: 8.5px 7.5px;
    transition: 0.3s;
    cursor: pointer;
}

header > nav .user-dropdown li:first-child a {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

header > nav .user-dropdown li:last-child a {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Mobile displays */
.show-mobile {
    display: none !important;
}

.burger {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 60vw;
    transform: translateX(-100%);
    padding: 15px;
    background-color: white;
    color: black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    visibility: hidden;
    transition: 0.3s ease-in-out;
    z-index: 100;
}

.burger.show {
    visibility: visible;
    transform: translateX(0);
}

.burger > ul {
    display: flex;
    flex-direction: column;
    gap: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.burger > ul > li {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
}

.burger > ul > li:first-child {
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    margin-bottom: 10px;
}

.burger > ul > li:first-child img {
    height: 50px;
    width: auto;
    user-select: none;
    cursor: pointer;
}

.burger > ul > li:first-child svg {
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.burger b {
    margin-top: 25px;
}

.burger hr {
    margin-block: 5px 25px;
    opacity: 1;
    color: darkred;
}

.burger a {
    color: black;
    text-decoration: none;
}

.burger a:active {
    opacity: 0.8;
}

header > nav .avatar-link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

header > nav .avatar-link > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    user-select: none;
}

/* These styles will be triggered when the screen is smaller than 565 pixels (for mobile devices) */
@media only screen and (max-width: 565px) {
    .show-mobile {
        /* Make all elements that have class name of 'show-mobile' visible */
        display: block !important;
    }

    .hide-mobile {
        /* Hide all elements that have class name of 'hide-mobile' */
        display: none !important;
    }

    header {
        padding: 10px 15px;
        background-color: rgba(211, 211, 211, 0.4);
    }

    /* replace the header background color with a semi-transparent one */
    header.scrolled {
        background-color: rgba(211, 211, 211, 0.6);
        padding: 7.5px 15px;
    }

    svg.show-mobile {
        color: rgb(73, 73, 73);
        padding: 5px;
        border: 1px solid rgba(128, 128, 128, 0.8);
        border-radius: 5px;
        margin-right: auto;
        cursor: pointer;
    }

    /* Hide the '/' icon that shows on laptop */
    header .search-wrapper div.search-box-border::after {
        display: none;
    }
}

@keyframes ripple {
    from {
        width: 0;
        height: 0;
        opacity: 0.5;
    }

    to {
        width: 250px;
        height: 250px;
        opacity: 0;
    }
}
