.item-page {
    padding: 25px 50px;
    height: auto;
}

.title>h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

.title>h2 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.description {
    /* set display to none since we are not using it */
    display: none;
    margin-top: 30px;
    font-size: 16px;
}

.scroll-container {
    display: flex;
    gap: 30px;
    margin-top: 10px;
    padding-block: 5px;
    overflow-x: auto;
}

.search-heading {
    font-size: 24px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 15px;
}

.search-container {
    display: flex;
    align-items: center;
}

.sort {
    padding: 5px 10px;
    padding-right: 0;
    border-radius: 5px;
    font-size: 16px;
    margin-left: auto;
    user-select: none;
    cursor: pointer;
}

.sort:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.scroll-container::-webkit-scrollbar {
    display: none;
}

.scroll-wrapper {
    position: relative;
}

.scroll-container::before {
    opacity: var(--show-before-shadow);
    left: 0;
    background: linear-gradient(to right, white, rgba(255, 255, 255, 0));
}

.scroll-container::after {
    opacity: var(--show-after-shadow);
    right: 0;
    background: linear-gradient(to left, white, rgba(255, 255, 255, 0));
}

.scroll-container::before,
.scroll-container::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 100%;
    transition: 0.3s;
    pointer-events: none;
}

.scroll-container button {
    padding: 7px 20px;
    border-radius: 50px;
    border: 2px solid black;
    background-color: white;
    font-size: 16px;
    flex-shrink: 0;
    transition: 0.3s;
    cursor: pointer;
}

.scroll-container button:hover {
    background-color: rgba(211, 211, 211, 0.8);
}

.scroll-container button.active {
    background-color: black;
    color: white;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    gap: 15px;
    margin-top: 50px;
}


@media only screen and (max-width: 565px) {
    .item-page {
        padding: 10px 25px;
    }

    .searchContainer {
        flex-direction: column;
    }

    .searchheading {
        font-size: 20px;
    }

    .sort {
        padding: 5px 10px;
        margin: 0;
        width: min-content;
    }

    .description {
        display: none;
        margin-top: 10px;
        font-size: 14px;
    }

    .title>h1 {
        font-size: 32px;
    }

    .title>h2 {
        font-size: 16px;
    }
}