/* Removed this because it causes conflict with the login/sign up page */
/* main {
    height: auto;
} */

main.item-page {
    padding: 25px 80px;
    font-family: 'Poppins';
}

.title>h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

.title>h2 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.description {
    margin-top: 30px;
    font-size: 16px;
}

.scroll-container {
    display: flex;
    gap: 60px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.scroll-container::-webkit-scrollbar {
    display: none;
}


/* Somebody please fix this effect I am too dumb to solve this */
/* .scroll-wrapper::before {
  content: "";
  position: absolute; 
  top: 0;
  right: 0;
  width: 200px;
  margin-right: 80px;
  height: 100%;
  background: linear-gradient(to left, white, rgba(255,255,255,0));
  pointer-events: none;
  z-index: 2;
} */

.scroll-container button {
    padding: 7px 20px;
    border-radius: 50px;
    border: 2px solid black;
    background-color: white;
    font-size: 16px;
    flex-shrink: 0;
}

.scroll-container button.active {
    background-color: black;
    color: white;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    margin-top: 50px;
}

.service-wrapper {
    display: flex;
    flex-direction: column;
}

.service-wrapper>img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    aspect-ratio: 3/ 2;
    object-fit: cover;
    /* scale & crop to fill aspect ratio */
    object-position: center;
    /* center image content */
}

.item-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 5px 10px;
}

.person-info {
    display: flex;
    align-items: center;
}

.person-info>img.profile {
    height: 15px;
    width: auto;
    flex-grow: 0;
}

.person-info>img.stars {
    height: 15px;
    width: auto;
}

.person-info>p {
    align-items: center;
    justify-content: center;
    line-height: 100%;
    margin: auto;
    margin-left: 5px;
}