.log-out-button {
    margin-top: 30px;
    background-color: #170B2F;
    color: #FDFDFD;
    width: 100%;
    padding: 10px 20px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        opacity: 0.8;
    }

    &:active {
        opacity: 0.6;
    }
}