.log-out-button {
    margin-top: 20px;
    background-color: #FF4C4C;
    border-radius: 5px;
    color: white;
    width: 100%;
    padding: 10px;
    border: none;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }

    &:active {
        opacity: 0.6;
    }
}