.service-wrapper {
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 10px;
    padding: 10px;
    transition: 0.3s;
}

.service-wrapper:not(:has(.preview)) {
    cursor: pointer;
}

.service-wrapper:hover:not(:has(.preview)) {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.service-wrapper .image-slideshow img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center;
    user-select: none;
    animation: fade 0.5s;
}

.service-wrapper .image-slideshow {
    position: relative;
    max-height: 150px;
    overflow: hidden;
}

.service-wrapper .image-slideshow .dots {
    position: absolute;
    bottom: 5px;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.service-wrapper .image-slideshow .dots>span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.4);
    user-select: none;
    transition: 0.3s;
    cursor: pointer;
}

.service-wrapper .image-slideshow .dots>span:hover,
.service-wrapper .image-slideshow .dots>span.active {
    background-color: rgba(128, 128, 128, 0.8);
}

.service-wrapper .image-slideshow:hover>svg {
    background-color: rgba(128, 128, 128, 0.4);
}

.service-wrapper .image-slideshow>svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-block: 5px;
    width: 2.5rem;
    color: white;
    transition: 0.3s;
    pointer-events: auto;
    cursor: pointer;
    user-select: none;
}

.service-wrapper .image-slideshow>svg:hover {
    background-color: rgba(128, 128, 128, 0.8);
}

.service-wrapper .image-slideshow>svg.prev {
    left: 0;
    padding-right: 5px;
    border-radius: 0 3px 3px 0;
}

.service-wrapper .image-slideshow>svg.next {
    right: 0;
    padding-left: 5px;
    border-radius: 3px 0 0 3px;
}

.item-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
}

.item-info>.name {
    font-size: 18px;
    font-weight: 500;
}

.item-info>.date {
    font-size: 14px;
    font-weight: 300;
}

.person-info {
    display: flex;
    align-items: center;
    margin-block: 6px 3px;

}

.person-info>img.profile {
    height: 15px;
    width: 15px;
    object-fit: cover;
    border-radius: 50%;
    flex-grow: 0;
}

.person-info>img.stars {
    height: 15px;
    width: auto;
}

.person-info>p {
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 100%;
    margin: auto;
    margin-left: 5px;
}

.price {
    margin-top: 2px;
    font-size: 1.2rem;
    font-weight: 600;
    color: darkred;
}

.free {
    color: rgb(77, 187, 77);
}


@media only screen and (max-width: 565px) {
    .service-wrapper {
        padding: 10px;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}