.service-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: max-content;
    border-radius: 10px;
    padding: 10px;
    transition: 0.3s;
}

.service-wrapper:not(.preview, .unavailable, :has(.loading-background)) {
    cursor: pointer;
}

.service-wrapper:not(.preview, .unavailable, :has(.loading-background)):hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.service-wrapper.unavailable,
.service-wrapper:has(.loading-background) {
    pointer-events: none;
    user-select: none;
}

.service-wrapper.unavailable *,
.service-wrapper:has(.loading-background) * {
    pointer-events: none;
}

.service-wrapper.unavailable::after {
    content: "Item Expired!";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
    color: red;
    z-index: 10;
}

.service-wrapper.unavailable .backdrop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.service-wrapper .loading-background {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    animation: fade 1s infinite alternate;
}

.service-wrapper div.slideshow {
    height: 150px;
}

.service-wrapper div.slideshow>div {
    border-radius: 10px 10px 0 0;
}

.item-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
}

.item-info>.name {
    font-size: 18px;
    font-weight: 500;
}

.item-info>.date {
    font-size: 14px;
    font-weight: 300;
}

.person-info {
    display: flex;
    align-items: center;
    margin-block: 6px 3px;

}

.person-info>img.profile {
    height: 15px;
    width: 15px;
    object-fit: cover;
    border-radius: 50%;
    flex-grow: 0;
}

.person-info>img.stars {
    height: 15px;
    width: auto;
}

.person-info>p {
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 100%;
    margin: auto;
    margin-left: 5px;
}

.price {
    margin-top: 2px;
    font-size: 1.2rem;
    font-weight: 600;
    color: darkred;
}

.free {
    color: rgb(77, 187, 77);
}


@keyframes fade {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.5;
    }
}

@media only screen and (max-width: 565px) {
    .service-wrapper {
        padding: 10px;
    }
}