/* Some attributes are set to !important becasue they are conflict to the auth.css properties */
.password {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    gap: 15px !important;
    margin: 0 !important;
}