.success-screen {
    background-color: #020A6E;
    background-image: url("../background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: 0;
}

.success-card {
    padding: 10px;
}

.success-card h2 {
    text-align: center;
}

.success-card img {
    max-width: 250px;
    height: auto;
    margin-block: 15px;
    pointer-events: none;
    user-select: none;
}

.success-card a {
    width: 100%;
}

.success-card button {
    background-color: #000a94;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    transition: 0.3s;
}

.success-card button:hover {
    opacity: 0.8;
}

.success-card button:active {
    opacity: 0.6;
}